body {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Quicksand', sans-serif;	
	line-height: 1.42857;
	font-size: 14px;
	background: #222;
	color: white;
}

a {
	color: #3E8BD1;
	text-decoration: none;
}

a:hover {
	color: #3E8BD1;
	text-decoration: underline;
}

#container {
	height: 100%;
}

.section {
	position: relative;
	font-size: 19px;
}

.sectionForBackground {
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.sectionContent {
	width: 80%;
	margin: 50px auto;
}

.section h1{
	font-size: 25px;
	font-size: calc(25px + 1vw);
}

.subsection{
	margin-bottom: 50px;
}

.subSection p{
	
}

#introSection {
	background-image: url('images/background-shaded.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	min-height: 100%;
}

#logo {
	margin-bottom: 20px;
}

#logo img{
	max-height: 350px;
	max-width: 100%;
}

#heading-details {
	font-size: calc(40px + 1vw);
}

#email {
	margin: 50px auto 10px;
	padding: 15px 15px 15px 15px;
	font-size: 17px;
	border: 1px solid white;
	border-radius: 2px;
	position: relative;
	background: rgba(34, 34, 34, 0.75);
	width: 100%;
	max-width: 500px;
}

#emailBackground{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.25;
	z-index: -1;
}

#email input {
	width: 100%;
}

#email input[type="email"], #email input[type="text"]{
	background: white;
	border-radius: 0;
}

#email .btn{
	border: 2px solid white;
	background: 0;
}

#email .btn:hover {
	box-shadow: 0px 0px 5px #fff;
}

#emailSubmitError {
	display: none;
}

#emailSubmitTryAgainMessage {
	display: none;
}

#emailSuccessMessage {
	display: none;
}

#sponsorsSignup a{
	font-weight: bold;
	color: white;
}

#sponsorsSignupPanel {
	display:none;
}

#contact {
	color: white;
	font-weight: 700;
	margin-bottom: 20px;
	word-break: break-all;
}

.backgroundCreditPadding {
	height: 40px;
	width: 100%;
}

.backgroundCredit {
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 11px;
	background: black;
	padding: 2px 5px;
}

.backgroundCredit a{
	color: white;
}

.teamMember{
	display: inline-block;
	margin: 0;
	margin-bottom:20px;
	width: 30%;
	min-width: 230px;
	text-align: center;
	vertical-align: bottom;
}

.teamImage {
	margin: 5px;
}

.teamMember img{
	width: 100%;
	max-width: 350px;
}

.quote {
	font-style: italic;
}

.sponsor {
	background: #333;
	margin: 0;
	margin-bottom:20px;
	border-radius: 10px;
	display: inline-block;
	width: 30%;
	min-width: 230px;
	vertical-align: top;
}

.sponsor h3 {
	margin: 0;
	margin-top: 10px;
}

.sponsor p {
	font-size: 14px;
}

.sponsorImage {
	margin: 10px;
}

.sponsor img {
	width: 100%;
	max-width: 250px;
}
